<hr>
<footer>
    <a href="https://github.com/ssangur0" target="_blank">Github</a> 
    <a href="https://ssangur0.github.io/" target="_blank">GitHub.io</a> 
    <a href="https://ssangur0.github.io/web250/" target="_blank">web215.io</a>
    <a href="https://www.freecodecamp.org/shayna-sangurima-zumba-" target="_blank">freeCodeCamp</a>  
    <a href="https://www.codecademy.com/profiles/ShaynaSangurima" target="_blank">Codecademy</a> 
    <a href="https://jsfiddle.net/user/shaynasz/fiddles/" target="_blank">Jsfiddle</a> 
    <a href="https://www.linkedin.com/in/shayna-sangurima-zumba-0380822aa/" target="_blank">LinkedIn</a>

<p>
    Validate
    <a href="https://validator.w3.org/check?uri=referer" id= "validation_link_html">
      HTML
  </a>
  and
  <a href="https://jigsaw.w3.org/css-validator/check/referer" id= "validation_link_css">
      CSS
  </a>
<script src="scripts/validation.js"></script>
</p>
</footer>
